<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="productList()">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<article class="row gy-3 mb-4" *ngFor="let product of product.result" >
  <div class="col-lg-5">
    <figure class="itemside me-lg-5">
      <figcaption class="info">
        <p class="text-muted"> {{product.productName}} </p>
      </figcaption>
    </figure>
  </div>
  <div class="col-lg-2 col-sm-4 col-6">
    <div class="price-wrap lh-sm"> 
      <var class="price h6">₺ {{product.productPrice}}</var>  <br>
    </div> <!-- price-wrap .// -->
  </div>
  <div class="col-lg col-sm-4">
    <div class="float-lg-end">
      <button type="button" class="btn btn-warning"  (click)="addCart(product.id,product.productName,product.productPrice)">Ekle</button>
    </div>
  </div>
</article>
<div class="text-bg-warning p-3">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1"> Aylık Gelir </label>
  </div>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Örnek:(5000)" aria-label="Search">
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ürün</th>
      <th scope="col">Fiyat</th>
      <th scope="col">Adet</th>
      <th scope="col">Net Fiyat</th>
      <th scope="col"><button type="button" class="btn btn-info" (click)="emptyArray()">Sepeti boşalt</button>
      </th>

    </tr>
  </thead>
  <tbody *ngFor="let fruit of datas">
    <tr>
      <td>{{fruit["name"]}}</td>
      <td>{{fruit["price"]}}</td>
      <td>{{fruit["piece"]}}</td>
      <td>{{fruit["totalPrice"]}}</td>
      <td><button _ngcontent-ycf-c3="" (click)="removeDocument(fruit.id)">-</button>
      </td>
      <td><button _ngcontent-ycf-c3="">+</button>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-lg" (click)="viewToken()">Gönder</button>